@CHARSET "ISO-8859-1";

body {
	font-family: arial;
}

.header {
	background-image: url('images/banner.jpg');
	background-repeat: no-repeat;
	color: white;
}

h1 {
	color: rgb(34, 69, 125); 
	font-style: normal; 
	font-size: x-large; 
	padding-top: 20px
}

thead {
	font-weight: bold;
}

A:visited {
	color: blue;
	text-decoration: underline;
}

A:hover {
	color: red;
	text-decoration: underline;
}

A:link {
	color: blue;
	text-decoration: underline;
}

A:active {
	color: green;
	text-decoration: underline;
}

#content {
	padding-top: 10px; 
	font-size: small;
}

.tagline {
	font-weight: bold;
}