@CHARSET "ISO-8859-1";

body {
	font-family: arial;
	font-size: 12pt;
}

h1 {
	color: rgb(34, 69, 125); 
	font-style: normal; 
	padding-top: 0px
	margin-top: 0px;
}

thead {
	font-weight: bold;
}

#content {
	padding-top: 10px; 
}

.tagline {
	color: rgb(34, 69, 125); 
	font-weight: bold;
}

#banner {
	background-color: rgb(238, 238, 238);
	padding-right: 60px;
	padding-left: 60px;
	margin-bottom: 30px;
	max-width: 100%;
	border-radius: 6px;
	box-sizing: border-box;
	text-align: center;
	
}

img {
	max-height: 100%;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

a #banner {
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

.subtitle {
	padding-bottom: 15px;
}

.error {
	color: red;
}